html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 61px;
}

header, footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
}

header {
    border-bottom: 1px solid #e7e7e7;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
}

p {
    margin: 0;
}

.filter-box, .content-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-box > div {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.content-box > div > img {
    display: block;
    margin: 0 auto;
}

.content-box > div > .item-color {
    text-transform: uppercase;
    color: #b0b0b0;
}

.content-box > div > .item-price {
    font-weight: bold;
}

.page-box {
    text-align: center;
}

.pagination {
    margin: 0 0 15px 0;
}